@media all and (min-width: 800px) {
  .LoginScreen {
    padding: 60px 0;
    align-items: center;
  }

  .LoginScreen form {
    margin: 0 auto;
    max-width: 500px;
    align-items: center;

  }

  .LoginScreen Button {
    min-width: 480px;
  }
}